# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Logs
*.log
backend/logs/
backend/requests.log
backend/backend.log

# JavaScript/Node
node_modules/
dist/
.DS_Store

# IDE
.vscode/
.idea/

# Backend
backend/data/chromadb/
backend/*.db

# Frontend
frontend/dist/
frontend/.env.local
